{
	"useTabs": true,
	"singleQuote": true,
	"printWidth": 100,
	"arrowParens": "always",
	"bracketSameLine": true,
	"bracketSpacing": true,
	"embeddedLanguageFormatting": "auto",
	"endOfLine": "lf",
	"htmlWhitespaceSensitivity": "css",
	"jsxSingleQuote": false,
	"proseWrap": "preserve",
	"quoteProps": "as-needed",
	"singleAttributePerLine": false,
	"tabWidth": 2,
	"trailingComma": "es5",
	"plugins": [
		"prettier-plugin-svelte",
		"@ianvs/prettier-plugin-sort-imports",
		"prettier-plugin-tailwindcss"
	],
	"tailwindStylesheet": "./src/app.css",
	"tailwindFunctions": ["cn", "cva"],
	"importOrder": [
		"<TYPES>",
		"^(svelte/(.*)$)|^(svelte$)",
		"^(@sveltejs/(.*)$)|^(@sveltejs$)",
		"<THIRD_PARTY_MODULES>",
		"",
		"<TYPES>^[.|..|\\$lib|\\$app|\\$env|\\$types]",
		"^\\$app/",
		"^\\$env/",
		"^\\$lib/",
		"^[../]",
		"^[./]"
	],
	"importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"],
	"importOrderTypeScriptVersion": "5.0.0",
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	]
}
